:root {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    --textcolor: #e46565;
    --texcolor2: #303bc9;
    --bg       : #97c0cc;
}
body {
    color:black;
    background-color: white;
    margin:0;
    padding: 0;
}
